* { 
  color:#fff; 
  text-decoration: none !important;
}

body {
  overflow: auto;
  /* background: #eee; */
}

canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.navbar 
.container
.container-x1
.ftco-section{
  z-index: 101;
}