* {
  color:#fff;
  text-decoration: none !important;
}

body {
  overflow: auto;
}

canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.cur{
  font-family: 'Roboto', sans-serif;
}

#alieng{
  position: relative;
  top: -7px;
}

#git{
  position: relative;
  top: -2px;
}

#zero{
  color: red;
  font-family: 'Roboto', sans-serif;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#web{
  position: relative;
  top: 22px;
}
