* {
  color:#fff;
  text-decoration: none !important;
}

body {
  overflow: auto;
}

canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  scroll-x: hidden !important;
  z-index: -1;
}

.cur{
  font-family: 'Roboto', sans-serif;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#alieng{
  position: relative;
  top: -5px;
}

#git{
  position: relative;
  top: 0px;
}

#zero{
  color: red;
  font-family: 'Roboto', sans-serif;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#web{
  position: relative;
  top: 22px;
}

.hire{
  position: relative;
  top: -4px;
}
